<!DOCTYPE html>
<html>
  <head>
    <title>Tonealyzer</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "api/auth/google_oauth2", id: "sign_in" %>
        <%= link_to "Sign in with Facebook", "api/auth/facebook", id: "sign_in" %>
        <%= link_to "Create an account", new_api_identity_path %>
        <%= form_tag "auth/identity/callback" do %>
        <div class="field">
          <%= label_tag :auth_key, "Email" %><br>
          <%= text_field_tag :auth_key %>
        </div>
        <div class="field">
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>
        <div class="actions">
          <%= submit_tag "Login" %>
        </div>
        <% end %>
      <% end %>

    </div>
    <div>
    <%= yield %>
  </body>
</html>
