<!DOCTYPE html>
<html>
  <head>
    <title>Tonealyzer</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>

        <h2>Login</h2>
        <%= form_tag "/auth/identity/callback" do %>
          <div class="field">
            <%= label_tag :auth_key, "Username" %><br>
            <%= text_field_tag :auth_key %>
          </div>
          <div class="field">
            <%= label_tag :password %><br>
            <%= password_field_tag :password %>
          </div>
          <div class="actions">
            <%= submit_tag "Login" %>
          </div>
        <% end %>

        <h2>Sign up</h2>
        <%= form_tag "/auth/identity/register" do %>
          <div class="field">
            <%= label_tag :name, "Username" %><br>
            <%= text_field_tag :name %>
          </div>
          <div class="field">
            <%= label_tag :email, "Email" %><br>
            <%= text_field_tag :email %>
          </div>
          <div class="field">
            <%= label_tag :password %><br>
            <%= password_field_tag :password %>
          </div>
          <div class="field">
            <%= label_tag :password_confirmation %><br>
            <%= password_field_tag :password_confirmation %>
          </div>
          <div class="actions">
            <%= submit_tag "Sign up" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div>
    <%= yield %>
  </body>
</html>
